# 知乎练手

## 高效的10个Pandas函数
https://zhuanlan.zhihu.com/p/185044102

In [1]:
import numpy as np
import pandas as pd

1. Query

Query是pandas的过滤查询函数，使用布尔表达式来查询DataFrame的列，就是说按照列的规则进行过滤操作。

用法：

pandas.DataFrame.query(self, expr, inplace = False, **kwargs)

参数作用：

    expr：要评估的查询字符串；inplace=False：查询是应该修改数据还是返回修改后的副本kwargs：dict关键字参数

首先生成一段df：

In [2]:
values_1 = np.random.randint(10, size=10)
values_2 = np.random.randint(10, size=10)
years = np.arange(2010,2020) #注意这里是arange
groups =['A','A','B','A','B','B','C','A','C','C']
df = pd.DataFrame({'group':groups, 'year':years, 'value_1':values_1, 'value_2':values_2})
df #这个地方每次都要从头运行

  group  year  value_1  value_2
0     A  2010        4        1
1     A  2011        4        7
2     B  2012        6        3
3     A  2013        6        5
4     B  2014        6        5
5     B  2015        4        7
6     C  2016        3        8
7     A  2017        3        1
8     C  2018        5        4
9     C  2019        8        8

In [3]:
#过滤查询用起来比较简单，比如要查列value_1<value_2的行记录：
df.query('value_1 < value_2')

  group  year  value_1  value_2
1     A  2011        4        7
5     B  2015        4        7
6     C  2016        3        8

In [4]:
#查询列year>=2016的行记录：
df.query('year>=2016')

  group  year  value_1  value_2
6     C  2016        3        8
7     A  2017        3        1
8     C  2018        5        4
9     C  2019        8        8

2. Insert

Insert用于在DataFrame的指定位置中插入新的数据列。默认情况下新列是添加到末尾的，但可以更改位置参数，将新列添加到任何位置。

用法：

Dataframe.insert(loc, column, value, allow_duplicates=False)

参数作用：

    loc: int型，表示插入位置在第几列；若在第一列插入数据，则 loc=0column: 给插入的列取名，如 column='新的一列'value：新列的值，数字、array、series等都可以allow_duplicates: 是否允许列名重复，选择Ture表示允许新的列名与已存在的列名重复

接着用前面的df

In [5]:
df

  group  year  value_1  value_2
0     A  2010        4        1
1     A  2011        4        7
2     B  2012        6        3
3     A  2013        6        5
4     B  2014        6        5
5     B  2015        4        7
6     C  2016        3        8
7     A  2017        3        1
8     C  2018        5        4
9     C  2019        8        8

In [6]:
# 在第三列的位置插入新列：
new_col = np.random.rand(10)
#在第三列位置插入新列，从0开始计算
df.insert(2,'new_col',new_col)
df

  group  year   new_col  value_1  value_2
0     A  2010  0.401467        6        9
1     A  2011  0.676830        3        6
2     B  2012  0.659246        7        6
3     A  2013  0.714661        8        2
4     B  2014  0.431855        7        5
5     B  2015  0.251253        5        5
6     C  2016  0.271038        0        9
7     A  2017  0.981026        3        0
8     C  2018  0.190140        5        1
9     C  2019  0.547002        7        9