### Computational Methods (16:540:540) - Spring 2021
#### Homework 6 ‚Äì Python Coding

1. Generate 100 random samples from multivariate normal distribution where ùëù = 5. Then, calculate means and covariance matrix.

2. Assign the output $y=5 x_{1}+9 x_{2}+2 x_{3}^{2}$

3. Perform Regression using the dataset generated above to predict ùë¶ using the following algorithms from Scikit-learn:

        a) Support vector regression

        b) Decision Tree

        c) Artificial Neural Network

Report the MSE and R-squared error. Use 70% of the dataset for training and 30% for testing.

In [1]:
# 1.Generate 100 random samples from multivariate normal distribution where ùëù = 5. Then, calculate means and covariance matrix.

In [4]:
import numpy as np
import pandas as pd
from numpy.random import default_rng
rng = default_rng(5)
p, n=5, 100

In [5]:
mu = np.random.uniform(-10,10,size=p)
C = np.random.random((p,p))
cov = C @ C.T # positive semi-definite
x_1 = rng.multivariate_normal(mu, cov, n)

In [6]:
x1_mean = np.mean(x_1)
x1_var = np.var(x_1)

In [9]:
print(f'From univariate normal distribution,the mean of 100 random the samples is {round(x1_mean,4)},the variance is {round(x1_var,4)}')

From univariate normal distribution,the mean of 100 random the samples is -1.6513,the variance is 11.415

In [10]:
# 2. Assign the output

In [13]:
rng = default_rng(5)
y = 5 * x_1[:,0]+ 9*x_1[:,1] + (2 * x_1[:,2])**2 + rng.normal(0,1,n)

           0         1         2
0  -1.910801  1.214405 -2.691729
1  -2.658413 -0.311950 -4.227997
2  -2.817407 -0.037785 -4.214930
3  -0.078920  1.049731 -1.581272
4  -1.844054  0.019269 -3.625653
..       ...       ...       ...
95 -3.126894 -1.368858 -5.347264
96 -3.458599 -0.421327 -4.609938
97 -3.582058 -0.871265 -5.936007
98 -0.449135  1.979917 -3.386167
99 -4.537894 -0.423548 -5.444274

[100 rows x 3 columns]

          0         1         2        3         4
0 -1.910801  1.214405 -2.691729 -3.57467  4.293876